{{ define "main" }}
<main>
  <header class="front-page-header centered">
    <img class="headshot" src="/img/googol.jpg" alt=""/>
    <h1>Miika Hänninen</h1>
  </header>
  <section class="centered">
    <h2>Señor Software Developer</h2>
    <p>Consulting in all things software development @ Reaktor</p>
  </section>
  <section class="centered">
    <ul class="links-list">
      <li><a class="icon-link" href="https://github.com/googol"><svg class="icon"><use xlink:href="/icons.svg#icon-github"></use></svg></a></li>
      <li><a class="icon-link" href="https://linkedin.com/in/miikahanninen"><svg class="icon"><use xlink:href="/icons.svg#icon-linkedin"></use></svg></a></li>
      <li><a class="icon-link" href="https://gitlab.com/googol_r"><svg class="icon"><use xlink:href="/icons.svg#icon-gitlab"></use></svg></a></li>
      <li><a class="icon-link" href="mailto:miika@miikahanninen.com"><svg class="icon"><use xlink:href="/icons.svg#icon-email"></use></svg></a></li>
    </ul>
  </section>
</main>
{{ end }}

{{ define "extra_style" }}
* {
  contain: content;
  box-sizing: border-box;
}
:root {
  font-family: 'Roboto', sans-serif;
  color: #8b8b8b;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-weight: 500;
  color: #444;
  font-size: 36px;
}
h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.headshot {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.front-page-header {
  margin-top: 8em;
}
.centered {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.links-list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.links-list > * + * {
  margin-left: 1em;
}
.icon-link, .icon-link:link {
  color: #8b8b8b;
}
.icon-link:visited {
  color: #8b8b8b;
}
.icon-link:hover {
  color: #444;
}
.icon-link:active {
  color: black;
}
.icon {
  width: 1.5em;
  height: 1.5em;
  stroke: currentColor;
  fill: currentColor;
}
{{ end }}
{{ define "json-ld" }}
{
  "@context": "http://schema.org",
  "@type": "Person",
  "email": "mailto:miika@miikahanninen.com",
  "image": "{{ "/img/googol.jpg" | absURL }}",
  "jobTitle": "Senior Software Developer",
  "name": "Miika Hänninen",
  "url": "https://miikahanninen.com"
}
{{ end }}
