{{ define "main" }}
{{ $headshot := resources.Get "assets/img/googol.jpg" | fingerprint }}
{{ $icons := resources.Get "assets/icons.svg" | fingerprint }}
<main>
  <header class="front-page-header centered">
    <img class="headshot" src="{{ $headshot.Permalink }}" alt=""/>
    <h1>Miika Hänninen</h1>
  </header>
  <section class="centered">
    <h2>Señor Software Developer</h2>
    <p>Consulting in all things software development <a href="https://www.reaktor.com/">@ Reaktor</a></p>
  </section>
  <section class="centered">
    <ul class="links-list">
      <li><a class="icon-link" href="https://github.com/googol"><svg class="icon"><use xlink:href="{{ $icons.Permalink }}#icon-github"></use></svg></a></li>
      <li><a class="icon-link" href="https://gitlab.com/googol_r"><svg class="icon"><use xlink:href="{{ $icons.Permalink }}#icon-gitlab"></use></svg></a></li>
      <li><a class="icon-link" href="mailto:miika@miikahanninen.com"><svg class="icon"><use xlink:href="{{ $icons.Permalink }}#icon-email"></use></svg></a></li>
    </ul>
  </section>
</main>
{{ end }}
{{ define "metadata" }}
{{ $headshot := resources.Get "assets/img/googol.jpg" | fingerprint }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "email": "mailto:miika@miikahanninen.com",
  "image": "{{ $headshot.Permalink }}",
  "jobTitle": "Senior Software Developer",
  "name": "Miika Hänninen",
  "url": "https://miikahanninen.com"
}
</script>
<meta property="description" content="Miika Hänninen is a senior software developer at Reaktor in Helsinki" />
<meta property="og:title" content="Miika Hänninen" />
<meta property="og:type" content="profile" />
<meta property="profile:first_name" content="Miika" />
<meta property="profile:last_name" content="Hänninen" />
<meta property="og:image" content="{{ $headshot.Permalink }}" />
<meta property="og:image:alt" content="A photo of Miika Hänninen" />
<meta property="og:description" content="Miika Hänninen is a senior software developer at Reaktor in Helsinki" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content="Miika Hänninen" />
{{ end }}
